@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik:wght@300;400&display=swap');

.footer {
  background-color: #121213;

  height: 50vh;
  width: 100%;

  overflow: hidden;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wrapper {
  margin-top: 200px;

  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  width: 300px;
  color: #fff;
}
.logo-wrapper h1{
  font-size: 2rem;
}
.logo-wrapper p {
  background: linear-gradient(to right, #f8fafc, #6b7280);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.logo-wrapper .icon-wrapper {
  padding: 10px 10px 10px 0;
}
.logo-wrapper .icon-wrapper i{
  padding-right: 20px;
}
.logo-wrapper .icon-wrapper a{
}

.projects-wrapper {
  width: 150px;
  height: 160.75px;
  color: #fff;
}
.projects-wrapper h4{
  font-size: 1.5rem;
  padding-top: 5px;
}
.projects-wrapper li{
list-style: none;
}
.projects-wrapper a{
  color: #6b7280;
}

.company-wrapper {
  width: 150px;
  height: 160.75px;
  color: #fff;
}
.company-wrapper h4{
  font-size: 1.5rem;
  padding-top: 5px;
}
.company-wrapper li{
list-style: none;
}
.company-wrapper a{
  color: #6b7280;
}

.help-wrapper {
  width: 150px;
  height: 160.75px;
  color: #fff;
}
.help-wrapper h4{
  font-size: 1.5rem;
  padding-top: 5px;
}
.help-wrapper li{
  list-style: none;
  text-decoration: none;
}
.help-wrapper a{
  color: #6b7280;
}

.legal {
  margin-top: 250px;
}
.legal p {
  color: #4c4e54;
  opacity: 0.5;
}