/* GENERAL STYLING */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,700;1,6..12,400&family=Poppins:wght@600&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #111111; */
  background-image: url(./assets/background2.jpg);
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #fff;
}


/* TRANSITION STYLES */

a, .btn {
  transition: all 0.6s ease;
}


/* DESKTOP NAVIGATION STYLES */

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background-color: #b4b3b347;
  user-select: none;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.3rem;
  padding-right: 40px;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ffffff96;
  border-bottom: 2px solid #ffffff96;
}

.logo {
  font-size: 1.8rem;
  color: #fff;
  padding-left: 40px;
  user-select: none;
}
.logo:hover {
  cursor: default;
}


/* HAMBURGER MENU STYLES */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  background: rgb(153,145,145);
  background: linear-gradient(45deg, rgba(153,145,145,1) 0%, rgba(105,104,104,1) 100%);
}

.hamburger-icon.open span:first-child{
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
  opacity: 0;
}
.hamburger-icon.open span:last-child{
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}


/* SECTION STYLES */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}


/* PROFILE SECTION STYLES */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
}

/* .section__text__p1 {
  text-align: center;
  font-size: 1rem;
} */

.section__text__p2 {
  font-size: 1.2rem;
  padding: 10px 0 ;
}

.title {
  font-size: 6.5rem;
  text-align: center;
  color: #fff;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.btn-container {
  user-select: none;
}

.btn {
  width: 190px;
  height: 60px;
  margin: 20px 15px 0 15px;
  background: transparent;
  border-radius: 15px;
  border: 3px solid #fff;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.btn-color-1 {
  background: #fff;
  color: #000;
}
.btn-color-1:hover {
  background: transparent;
  color: #fff;
}
.btn-color-2:hover {
  background: #fff;
  color: #000;
}

/* ICONS STYLES */

/* .icon {
  cursor: pointer;
  height: 2rem;
} */