@media screen and (max-width: 397px) {

  .navBar {
    display: none;
  }

  .hamburger-nav {
    display: flex;
  }

  nav {
    background-color: transparent;
    transition: all 0.8s ease-in-out;
  }
  nav.colorChange {
    background-color: #141719;
    border-bottom: 1px solid rgb(46, 45, 45);
  }
  .hamburger-nav.sticky {
    background-color: #141719; 
  }

  .fa-bars {
    padding: 20px;
    size: 30px;
    color: #fff;
  }

  .section__text {
    margin-top: 200px;
  }

  .logo_ham {
    color: #fff;
    font-size: 1.5rem;
    padding-left: 10px;
  }

  .hamburger-icon span {
    display: none;
    width: 80%;
    margin-right: 20px;
  }


  /* Hero Media Querie Styles */
  .hero-wrapper {
    margin-top: 170px;
  }
  .hero-wrapper h1{
    font-size: 4rem;
  }
  .hero-wrapper h3{
    font-size: 1.3rem;
  }
  .hero-wrapper p{
    font-size: 0.9rem;
  }
  .hero-button-container button{
    width: 180px;
    height: 60px;
  }


  /* About Media Querie Styles */
  .about-wrapper {
    width: 401px;
    padding: 100px 0 80px 0;
    border: none;
  }
  .about-section {
    width: 400px;
  }
  .about-section h1 {
  font-size: 3.5rem;
  }
  .about-section h3 {
    font-size: 1.3rem;
  }
  .about-text-wrapper h3 {
    font-size: 1.3rem;
    width: 350px;
  }
  .why-us-section h3 {
    font-size: 2.8rem;
  }
  .why-us-section h4 {
    font-size: 1.3rem;
    width: 350px;
    padding-bottom: 10px;
  }


  /* Service Media Querie Styles */
  .service {
    height: fit-content;
  }
  .service-wrapper {
    padding: 80px 0;
  }
  .service-text-wrapper {
    padding-top: 10px;
  }
  .service-text-wrapper h1 {
    font-size: 2.8rem;
  }
  .service-text-wrapper h3 {
    font-size: 1.3rem;
    width: 350px;
  }
  .service-card-wrapper {
    display: block;
    padding: 0;
    border: none;
  }
  .info-wrapper h1 {
    font-size: 1rem;
    padding: 5px 0 0 0;
  }
  .card {
    height: 180px;
    width: 350px;
  }
  .card h3 {
    font-size: 1rem;
    padding-top: 15px;
  }
  .card:hover{
    background: rgb(29,32,35);
    background: radial-gradient(circle, rgba(29,32,35,1) 0%, rgba(182,182,182,0.01) 100%);
    box-shadow: 5px 5px #1d2023;
  }
  .card:hover h3 {
    bottom: 20px;
    display: block;
    user-select: none;
  }
  .card:hover .info-wrapper {
    padding-bottom: 80px;
  }
  @keyframes slideIn {
    from {
      top: -140%;
    }
    to {
      top: 0;
    }
  }


  /* Team Media Querie Styles */
  .team-wrapper {
    border: none;
    padding: 80px 0 80px 0;
  }
  .team-title-wrapper h2 {
    font-size: 2.8rem;
  }
  .team-title-wrapper h3 {
    font-size: 1.3rem;
    padding: 0 0 25px 0;
  }
  .team-card {
    width: 300px;
  }
  .team-name {
    padding-bottom: 5px;
  }
  .team-position {
    padding-bottom: 5px;
  }
  #card1 {
    width: 300px;
  }
  #card4 {
    width: 300px;
    margin: 0 0 10px 0;
  }


  /* Contact Media Querie Styles */
  .contact {
    height: 130vh;
  }
  .contact-info {
    height: fit-content;
    border: none;
  }
  .contact-wrapper {
    width: 401px;
    padding: 80px 0;
    margin: 0;

    display: block;
  }
  .contact-title-wrapper {
    padding: 0;
    width: 397px;
  }
  .contact-title-wrapper h1 {
    font-size: 2.8rem;
    text-align: center;
  }
  .contact-title-wrapper h3 {
    font-size: 1.2rem;
  }

  .contact-info-wrapper {
    height: fit-content;
    display: block;
    margin: 0;
  }
  .contact-info-sub-wrapper {
    height: 250px;
    width: 350px;
    padding: 0;
    margin: 0 0 20px 0;
  }
  .contact-form form{
    width: 270px;
  }


  .contact-info-wrapper-main {
    display: block;
    margin: 10px 0 25px 0;
  }

  .contact-info-wrapper {
    height: 170px;
    width: 193;
    padding: 20px;
    margin-bottom: 15px;
  }
  .pin-title {
    font-size: 0.8rem;
  }
  .fa-location-dot {
    padding-top: 9px;
  }
  .fa-phone {
    padding-top: 9px;
  }
  .fa-envelope {
    padding-top: 9px;
  }
  .pin-title h3{
    font-size: 1rem;
  }
  .contact-us-text {
    font-size: 0.8rem;
  }
  .form-title {
    font-size: 1rem;
  }
  .contact-form {
    width: fit-content;
  }





  .footer-wrapper {
    display: block;
    margin-top: 50px;
  }
  .footer-wrapper a{
    color: #fff;
  }
  .footer-wrapper h4{
    font-size: 1.3rem;
  }

  .logo-wrapper {
    padding-bottom: 30px;
  }
  .help-wrapper {
    height: fit-content;
  }

  .legal {
    margin-top: 50px;
    text-align: center;
  }
  .legal p {
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 768px){

  body {
    background-repeat: no-repeat;
    background-color: #292929;
  }

  .logo {
    font-size: 1.5rem;
    padding: 0 20px;
  }

  .nav-links {
    font-size: 0.9rem;
    padding: 0 20px;
  }

  .title {
    font-size: 4rem;
  }

  .section__text__p2 {
    font-size: 1rem;
  }

  .btn {
    width: 150px;
    height: 60px;
  }
}

@media screen and (max-width: 1024px){

  body {
    background-repeat: no-repeat;
    background-color: #292929;
  }

  .logo {
    font-size: 1.8rem;
    padding: 0 20px;
  }

  .nav-links {
    font-size: 0.9rem;
    padding: 0 20px;
  }

  .title {
    font-size: 4.5rem;
  }

  .section__text__p2 {
    font-size: 0.8rem;
  }

  .btn {
    width: 140px;
    height: 50px;
  }
}

@media screen and (max-width: 1440px){

  body {
    background-repeat: no-repeat;
    background-color: #292929;
  }

  .logo {
    font-size: 1.8rem;
    padding: 0 20px;
  }

  .nav-links {
    font-size: 0.9rem;
    padding: 0 20px;
  }

  .title {
    font-size: 4.5rem;
  }

  .section__text__p2 {
    font-size: 0.8rem;
  }

  .btn {
    width: 140px;
    height: 50px;
  }
}

@media screen and (max-width: 1920px) {

  body {
    background-repeat: no-repeat;
    background-color: #292929;
  }

  .logo {
    font-size: 1.8rem;
    padding: 0 20px;
  }

  .nav-links {
    font-size: 0.9rem;
    padding: 0 20px;
  }

  .title {
    font-size: 4.5rem;
  }

  .section__text__p2 {
    font-size: 0.8rem;
  }

  .btn {
    width: 140px;
    height: 50px;
  }
}