/* Font Families Import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik:wght@300;400&display=swap');

/* Section Styles */
.service {
  background-color: #161618;

  height: fit-content;
  width: 100%;

  overflow: hidden;

  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
}

/* Section Wrapper Styles */
.service-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}

/* Service Container Styles */
.service-text-wrapper {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 100px 700px 50px 700px;
}
.service-text-wrapper h1 {
  font-size: 3.5rem;

  background: linear-gradient(to right, #e879f9, #3730a3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.service-text-wrapper h3 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 30px 60px 0 60px;

  background: linear-gradient(to right, #f8fafc, #6b7280);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Card Wrapper Styles*/
.service-card-wrapper {
  display: flex;
  gap: 9px;
  align-self: center;

  padding-bottom: 100px;
  border-bottom: 1px solid #242426;
}

/* Card Styles */
.card {
  font-family: 'Raleway', sans-serif;
  color: #fff;

  background-color: #161618;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  height: 360px;
  width: 400px;

  position: relative;

  margin-bottom: 10px;

  position: relative;

  user-select: none;

  transition: all 0.6s ease;
}
.card:hover{
  background: #161618;
  background: radial-gradient(circle, #1d1d1f 10%,  #121213 90%);
  box-shadow: 5px 5px #0b0b0c;
}
.card:hover h3 {
  bottom: 110px;
  display: block;
}
.card:hover .info-wrapper {
  padding-bottom: 80px;
}
/* Card Animation Keyframes */
@keyframes slideIn {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

/* Card Information Wrapper Styles*/
.background-wrapper {
  width: 32px;
  height: 32px;
  padding: 4px 10px 0 0;
}
.info-wrapper {
  padding: 0 20px;
  display: flex;
  transition: all 0.6s ease;
}
.card h1 {
  font-weight: 600;
  text-align: center;
  padding: 0; 
  font-size: 1.3rem;
}
.card h3 {
  user-select: none;
  color: #a09f9f;
  font-size: 1.3rem;
  position: absolute;
  bottom: -90px;
  padding: 30% 10px 0 10px;
  text-align: center;
  transition: all 0.6s ease;

  user-select: none;
  font-weight: 600;

  background: linear-gradient(to right, #f8fafc, #6b7280);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Layout Styles */
.column-1 {
  gap: 10px;
  display: block;
}
.column-2 {
  gap: 10px;
  display: block;
}
.column-3 {
  gap: 10px;
  display: block;
}