/* Font Families Import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik:wght@300;400&display=swap');

/* Section Styles */
.team {
  background-color: #161618;

  height: fit-content;
  width: 100%;

  overflow: hidden;

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section Wrapper Styles */
.team-wrapper {
  width: 1234px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 100px 0;
  border-bottom: 1px solid #242426;
}

/* Team Text Container Styles */
.team-title-wrapper {
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
}
/* Team Text Styles */
.team-title-wrapper h2{
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 5px;
}
.team-title-wrapper h3{
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 50px;

  background: linear-gradient(to right, #e879f9, 30%, #3730a3), 70%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Team Container Styles */
.team-section {
  color: #fff;

  width: fit-content;
  
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* Team Card Styles */
.team-card {
  height: fit-content;
  width: 300px;

  background-color: #161618;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 15px;

  transition: all 0.6s ease-in;
}
.team-card:hover{
  background:  #1d1d1f;
  box-shadow: 5px 5px #0b0b0c;
}
/* Card Information Styles */
.team-profile-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.team-profile-wrapper h3 {
  color: #fff;
}
.team-profile-wrapper h4 {
  background: linear-gradient(to right, #e879f9, 30%, #3730a3), 70%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.team-profile-wrapper h5 {
  font-size: 1rem;

  background: linear-gradient(to right, #f8fafc, #6b7280);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Individual Card Indentification Styles */
#card1 {
  width: 600px;
  height: 195px;
}
#card2 {
  height: 195px;
}
#card3 {
  height: 195px;
}
#card4 {
  width: 600px;
  height: 195px;
}